In [1]:
import pandas as pd
import random
import decimal
import numpy as np
import pandasql as ps
import sqlalchemy as sa

In [4]:
mcc_df = pd.read_csv(r'C:\Users\ftott\Downloads\mcc_codes.csv', dtype = {'mcc_number':'str'})

In [5]:
mcc_df

,mcc_number,description,Описание
0,0742,Ветеринарные услуги,Лицензированные специалисты в основном занимаю...
1,0763,Сельскохозяйственные кооперативы,"Ассоциации и кооперативы, которые предоставляю..."
2,0780,Услуги садоводства и ландшафтного дизайна,Ландшафтные архитекторы и другие поставщики ус...
3,1520,Генеральные подрядчики – жилое и коммерческое ...,"Генеральные подрядчики, в основном занимающиес..."
4,1711,"Генеральные подрядчики по вентиляции, теплосна...","Специальные торговые подрядчики, которые работ..."
...,...,...,...
1071,9751,Супермаркеты (Великобритания),Используется системой TSYS только для универса...
1072,9752,Автозаправочные станции (Великобритания),Используется системой TSYS только для автозапр...
1073,9754,Лошадиные / собачьи бега (только США),"MCC код не используется, вместо него используе..."
1074,9950,Покупки внутри компании,"Точки, классифицируемые платежной системой Vis..."
1075,9999,Категория неизвестна,"Возможно, код используется для операций с неоп..."

In [6]:
mcc_list = [random.choice(mcc_df['mcc_number']) for i in range(10000)]

In [7]:
def random_date(start, end):
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = random.randrange(int_delta)
    return start + dt.timedelta(seconds=random_second)

In [8]:
year_begin = dt.datetime(2023,1,1,00,00,00)
year_end = dt.datetime(2023,12,31,23,59,59)
random_date(year_begin, year_end)

datetime.datetime(2023, 3, 21, 7, 22, 19)

In [9]:
receipts_df = {'receipt_id':[i for i in range(10**5)],'mcc':[random.choice(mcc_df['mcc_number']) for i in range(10**5)],\
                'datetime':[random_date(year_begin, year_end) for i in range(10**5)]}
receipts_df = pd.DataFrame(data = receipts_df, index = [i for i in range(10**5)])

In [10]:
receipts_df.head(5)

   receipt_id   mcc            datetime
0           0  3660 2023-12-14 07:54:45
1           1  7375 2023-03-30 10:53:41
2           2  3625 2023-11-06 10:14:06
3           3  5415 2023-06-27 08:16:52
4           4  5815 2023-06-03 10:47:49

In [3]:
engine = sa.create_engine("postgresql+psycopg2://SA:centr@localhost/Centr_invest")
conn = engine.connect()
receipts_df.to_sql(name = 'receipts', con = engine)
#Создает таблицу в PostgreSQL

In [7]:
#Либо создаем этот запрос в pgadmin либо реализуем через SQL Alchemy
query_get_top_mcc = """
                        SELECT mcc, Count(datetime) OVER (PARTITION BY mcc) as uses
                        FROM receipts
                        WHERE  extract(month from datetime) = 11
                        ORDER BY uses DESC
                        LIMIT 1
                        """
top_mcc = conn.execute(query_get_top_mcc) # Реализуем запрос через SQL Alchemy
for i in top_mcc:
    print(i)

('3585', 17)

In [ ]:
receipts_df['month'] = receipts_df['datetime'].apply(lambda x: x.month) #добавляем колонку с месяцами для удобства
top_1_mcc = receipts_df.query('month == 11')\
            .groupby('mcc',as_index = False)\
            .agg({'receipt_id':'count'})\
            .rename(columns={'receipt_id':'Количество покупок'})\
            .sort_values('Количество покупок',ascending = False)\
            .head(1)
#фильтруем месяц
#группируем все покупки по MCC
#Считаем сколько раз встречается каждый МСС
#Сортируем по убыванию, чтобы увидеть самые популярные
#Выводим первый по популярности
receipts_df = receipts_df.drop(columns=['month']) #Убираем добавленную временную колонку
top_1_mcc

In [ ]:
mcc_df.merge(top_1_mcc, how = 'inner', left_on = 'mcc_number', right_on = 'mcc')
#Выводим самый популярный МСС с названием