In [60]:
import pandas as pd
import random
import numpy as np
import sqlalchemy as sa

In [86]:
#Генерируем данные для таблицы proudcts
products_df = {'product_id':[i for i in range(10**5)],'price':[random.choice([j+0.99 for j in range(4,5000,5)]) for i in range(10**5)],\
                'weight':[random.randrange(50,5000)/10**3 for i in range(10**5)],\
               'size': [str(random.randrange(1,100))+'*'+str(random.randrange(1,100))+'*'+str(random.randrange(1,100)) for i in range(10**5)]}
products_df = pd.DataFrame(data = products_df, index = [i for i in range(10**5)])

In [87]:
products_df.head(10)

   product_id    price  weight      size
0           0  3599.99   3.301   78*10*6
1           1  1564.99   2.174  88*18*14
2           2  1804.99   4.445  69*68*11
3           3  4229.99   4.982  71*21*13
4           4  1504.99   4.812  87*49*84
5           5  3824.99   4.516   5*24*30
6           6  2589.99   4.769  16*95*80
7           7  2014.99   2.371  62*16*75
8           8  1869.99   1.608   82*5*58
9           9  1624.99   2.091   18*51*7

In [91]:
#Генерим данные для transtaction_product_dict
tran_id_list = []
product_id_list = []
for i in range(10**5):
    for j in range(random.randrange(1,11)):
        tran_id_list.append(i)
        product_id_list.append(random.choice(products_df['product_id']))

550648 550648

In [93]:
#Собираем датасет transtaction_product_dict
transaction_products_dict = {'tran_id':tran_id_list,\
                             'product_id' : product_id_list}
transaction_products_dict = pd.DataFrame(data = transaction_products_dict, index = [i for i in range(len(tran_id_list))])

In [99]:
transaction_products_dict.head(10)

   tran_id  product_id
0        0       66402
1        0       89287
2        0       66110
3        0       31140
4        1       79218
5        2       72348
6        2       17692
7        2       49656
8        2       35296
9        2       90075

In [6]:
#Генерим данные для reports
reports ={'report_id':[i for i in range(10**5)],\
          'tran_id':[random.choice(products_df['product_id']) for j in range(10**5)],\
          'number_of_operations':[random.randrange(1,11) for i in range(10**5)],\
          'max_price':[np.NaN for i in range(10**5)]}
reports = pd.DataFrame(data = reports, index = [i for i in range(10**5)])

In [7]:
reports.head(10)

   report_id  tran_id  number_of_operations  max_price
0          0     8015                    10        NaN
1          1    46082                     1        NaN
2          2    36430                     9        NaN
3          3    17457                     3        NaN
4          4    85745                     1        NaN
5          5    68133                     7        NaN
6          6    54649                     9        NaN
7          7    41326                    10        NaN
8          8    56540                     1        NaN
9          9    21881                     6        NaN

In [8]:
#Все Таблицы созданы

In [3]:
#Подключаемся к серверу взаранее созданному в pgadmin
engine = sa.create_engine("postgresql+psycopg2://SA:centr@localhost/Centr_invest")
conn = engine.connect()
#Создаем таблицы из сгенерированных датасетов
products_df.to_sql(name = 'products', con = engine)
transaction_products_dict.to_sql(name = 'transaction_products_dict', con = engine)
reports.to_sql(name = 'reports', con = engine)

In [43]:
#Пишем SQL запрос для обновления МАКС цены в reports. Эти же запросы можно реализовать в pgadmin напрямую без Python.
query_update_max_price = '''     UPDATE reports
                        SET max_price = t1.max_price
                        	FROM
                        	(SELECT max(price) as max_price, tran_id
                        	FROM transaction_products_dict
                        		INNER JOIN products using(product_id)
                        	GROUP BY tran_id
                        	) as t1
                        WHERE reports.tran_id = t1.tran_id
                    '''
conn.execute(query_update max_price) #Выполняем этот запрос

In [82]:
#В задании просят вывести количество продуктов, сумму чека и самый дорогой товар, но не написано для какого чека
#Поэтому решил сделать таблицу с этими данными для каждого чека
query_select_result = '''SELECT tran_id AS "Номер транзакции",
                        	COUNT(product_id) AS "Количество товаров",
                        	SUM(price)::DECIMAL(10,2) AS "Сумма чека",
                        	MAX(price) AS "Стоимость самого дорогого товара"
                        FROM transaction_products_dict
                        	INNER JOIN products
                        	USING(product_id)
                        GROUP BY tran_id
                    '''
result = conn.execute(query_select_result) #Выполняем финальный запрос
result = [i for i in result]
print(*result[:5], sep='\n') #Выводим только первые 5 элементов (чтобы не нагружать).

(0, 4, Decimal('7864.96'), 3149.99)
(1, 1, Decimal('2729.99'), 2729.99)
(2, 10, Decimal('24709.90'), 3919.99)
(3, 3, Decimal('6259.97'), 2984.99)
(4, 3, Decimal('4499.97'), 1654.99)